In [3]:
span = ['cat', 'rat', 'bat', 'elephent']

span[0]

'cat'

In [4]:
span[2]

'bat'

In [5]:
'Hello ' + span[0] + ', ' + span[1] + ' said '+ span[3] + ' Fucked '+ span[2] + ' any thoughts'

'Hello cat, rat said elephent Fucked bat any thoughts'

In [6]:
spanTwo = [span, [10, 20, 30, 40]]
spanTwo[0][3] + ' Fucked '+ spanTwo[0][2] + ' ' + str(spanTwo[1][3]) + ' times ' + ' that day alone. Any thoughts '+ spanTwo[0][0] + '. '

'elephent Fucked bat 40 times  that day alone. Any thoughts cat. '

In [7]:
# Negative Indexes 
spanTwo[0][-1] + ' Fucked '+ spanTwo[0][-2] + ' ' + str(spanTwo[1][3]) + ' times ' + ' that day alone. Any thoughts '+ spanTwo[0][0] + '. '

'elephent Fucked bat 40 times  that day alone. Any thoughts cat. '

In [8]:
# Getting a list from another list with Slices...
# Just as an index can get a single value from a list, a slice can get several values from a list, 
# in the form of a new list.
# in a slice, the first integer is the index where the slice starts.
# The second integer is the index where the slice ends.
# A slice will go upto but will not include, the value at the second index
# Example :- 

spanThree = ['cat', 'bat', 'rat', 'elephent', 'ant']
spanThree[0:5]

['cat', 'bat', 'rat', 'elephent', 'ant']

In [9]:
spanThree[1:4]

['bat', 'rat', 'elephent']

In [10]:
spanThree[0:-1]

['cat', 'bat', 'rat', 'elephent']

In [11]:
# As a shortcut, you can leave out one or both the indexes on either side of the colon in the slice.
# leaving out the first index is the same as using 0, or the beginning of the list.
# leaving out the second index is the same as using the length of the list, which will slice to the end of the list
# Example :- 

spanThree[:]

['cat', 'bat', 'rat', 'elephent', 'ant']

In [12]:
# Getting the list lengthe with the length function

len(span)

4

In [13]:
len(spanTwo)

2

In [14]:
len(spanThree)

5

In [15]:
# Changing values in a list with indexes

spanThree[0] = 'hat'
spanThree

['hat', 'bat', 'rat', 'elephent', 'ant']

In [16]:
spanThree[3] = 'cat'
spanThree

['hat', 'bat', 'rat', 'cat', 'ant']

In [17]:
spanThree[-1] = 'mat'
spanThree

['hat', 'bat', 'rat', 'cat', 'mat']

In [19]:
# List Concatenation and list Replication
# Lists can be concatenated and replicated just like strings.
# The + operator combines two lists to create a new list value 
# The * operator can be used with a list and aninteter value to replicate the list.
# Example :- 

[1,2,3,4] + ['A', 'B', 'C', 'D']

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [21]:
['X', 'Y', 'Z'] * 3

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [23]:
# Removing Values from list with del statements
# the del statement will delete values at an index in a list
# Example :- 

spanFour = ['cat', 'rat', 'bat', 'elephent']
del spanFour[2]
spanFour

# the del statement can also be used on a simple variable to delete it,

['cat', 'rat', 'elephent']

In [26]:
catNames = []
while True:
    print("Enter the name of cat " + str(len(catNames) +1) + " (of enter notheing to stop.): ")
    name = input()
    if name == '':
        break
    catNames = catNames + [name] #list Concatenation

print('The Cat names are: ')
for name in catNames:
    print(' '+ name)

Enter the name of cat 1 (of enter notheing to stop.):
simba
Enter the name of cat 2 (of enter notheing to stop.):
uzi
Enter the name of cat 3 (of enter notheing to stop.):
billi
Enter the name of cat 4 (of enter notheing to stop.):
baby
Enter the name of cat 5 (of enter notheing to stop.):

The Cat names are:
 simba
 uzi
 billi
 baby

In [29]:
# Using for loop with lists

supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for i in range(len(supplies)):
    print('Index '+ str(i) + ' is suppies is : ' + supplies[i])

Index 0 is suppies is : pens
Index 1 is suppies is : staplers
Index 2 is suppies is : flamethrowers
Index 3 is suppies is : binders