In [1]:
span = ['cat', 'rat', 'bat', 'elephent']

span[0]

'cat'

In [2]:
span[2]

'bat'

In [3]:
'Hello ' + span[0] + ', ' + span[1] + ' said '+ span[3] + ' Fucked '+ span[2] + ' any thoughts'

'Hello cat, rat said elephent Fucked bat any thoughts'

In [4]:
spanTwo = [span, [10, 20, 30, 40]]
spanTwo[0][3] + ' Fucked '+ spanTwo[0][2] + ' ' + str(spanTwo[1][3]) + ' times ' + ' that day alone. Any thoughts '+ spanTwo[0][0] + '. '

'elephent Fucked bat 40 times  that day alone. Any thoughts cat. '

In [5]:
# Negative Indexes 
spanTwo[0][-1] + ' Fucked '+ spanTwo[0][-2] + ' ' + str(spanTwo[1][3]) + ' times ' + ' that day alone. Any thoughts '+ spanTwo[0][0] + '. '

'elephent Fucked bat 40 times  that day alone. Any thoughts cat. '

In [6]:
# Getting a list from another list with Slices...
# Just as an index can get a single value from a list, a slice can get several values from a list, 
# in the form of a new list.
# in a slice, the first integer is the index where the slice starts.
# The second integer is the index where the slice ends.
# A slice will go upto but will not include, the value at the second index
# Example :- 

spanThree = ['cat', 'bat', 'rat', 'elephent', 'ant']
spanThree[0:5]

['cat', 'bat', 'rat', 'elephent', 'ant']

In [7]:
spanThree[1:4]

['bat', 'rat', 'elephent']

In [8]:
spanThree[0:-1]

['cat', 'bat', 'rat', 'elephent']

In [9]:
# As a shortcut, you can leave out one or both the indexes on either side of the colon in the slice.
# leaving out the first index is the same as using 0, or the beginning of the list.
# leaving out the second index is the same as using the length of the list, which will slice to the end of the list
# Example :- 

spanThree[:]

['cat', 'bat', 'rat', 'elephent', 'ant']

In [10]:
# Getting the list lengthe with the length function

len(span)

4

In [11]:
len(spanTwo)

2

In [12]:
len(spanThree)

5

In [13]:
# Changing values in a list with indexes

spanThree[0] = 'hat'
spanThree

['hat', 'bat', 'rat', 'elephent', 'ant']

In [14]:
spanThree[3] = 'cat'
spanThree

['hat', 'bat', 'rat', 'cat', 'ant']

In [15]:
spanThree[-1] = 'mat'
spanThree

['hat', 'bat', 'rat', 'cat', 'mat']

In [16]:
# List Concatenation and list Replication
# Lists can be concatenated and replicated just like strings.
# The + operator combines two lists to create a new list value 
# The * operator can be used with a list and aninteter value to replicate the list.
# Example :- 

[1,2,3,4] + ['A', 'B', 'C', 'D']

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [17]:
['X', 'Y', 'Z'] * 3

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [18]:
# Removing Values from list with del statements
# the del statement will delete values at an index in a list
# Example :- 

spanFour = ['cat', 'rat', 'bat', 'elephent']
del spanFour[2]
spanFour

# the del statement can also be used on a simple variable to delete it,

['cat', 'rat', 'elephent']

In [19]:
catNames = []
while True:
    print("Enter the name of cat " + str(len(catNames) +1) + " (of enter notheing to stop.): ")
    name = input()
    if name == '':
        break
    catNames = catNames + [name] #list Concatenation

print('The Cat names are: ')
for name in catNames:
    print(' '+ name)

Enter the name of cat 1 (of enter notheing to stop.):

The Cat names are:

In [20]:
# Using for loop with lists

supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for i in range(len(supplies)):
    print('Index '+ str(i) + ' is suppies is : ' + supplies[i])

Index 0 is suppies is : pens
Index 1 is suppies is : staplers
Index 2 is suppies is : flamethrowers
Index 3 is suppies is : binders

In [21]:
# The 'in' and 'not in' Operators
# You can determine whether a value is or isn't in a list with the in and not in operators
# Example :- 

spanFive = ['hello', 'hi', 'howdy', 'hey']
if 'howdy' in spanFive:
    for i in range(len(spanFive)):
        print(' Howdy '+ spanFive[i])

 Howdy hello
 Howdy hi
 Howdy howdy
 Howdy hey

In [22]:
myPets = ['Simba', 'Uzi', 'Billu', 'Baby']
print('Enter a pet name: ')
name = input()
if name not in myPets: 
    print('I do not have a pet named '+ name + '. ')
else:
    print(name + ' is my pet.')

Enter a pet name:

I do not have a pet named .

In [23]:
# The Multiple Assignment Trick
# The multiple assignment trick is technically called tuple unpacking is a shortcut,
# that lets you assign multiple variables with the values in a list in one line of code .
# instead of doing the following :-

cat = ['fat', 'gray', 'loud']
size = cat[0]
color = cat[1]
disposition = cat[2]

# we can do the following :- 
size, color, disposition = cat

# Both will give the same result
# The number of variables and the length of the list must be exacly equal, or Python will give you a ValueError.

In [24]:
# Using enumerate() function with Lists
# instead of using the range(len(someList)) technique with a for loop,
# to obtain the integer index of the items in the list, you can call the enumerate() function instead
# on each iteration of the loop, enumerate() will return two values: the index of the item in the list and the item in the list itself.
# Example :- 


supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for index, item in enumerate(supplies):
    print('Index ' + str(index) + ' in supplies is : '+ item)

Index 0 in supplies is : pens
Index 1 in supplies is : staplers
Index 2 in supplies is : flamethrowers
Index 3 in supplies is : binders

In [25]:
# Using the random.choice() and random.shuffle() function with lists
# The random module has a souple functions that accept list for arguments.

# the "random.choice()" function will return a randomly selected item from the list.
# Exaple :- 

import random
pets = ['Dog', 'Cat', 'Elephent']
random.choice(pets)

'Elephent'

In [26]:
random.choice(pets)

# You can consider "random.choice(someList)", to be a shorter form of "someList[random.randint(0, len(someList)-1)]".

'Cat'

In [27]:
# The random.shuffle() function will reorder the items in a list. The function modifies the list in place,
# rather than returning a new list
# Example :- 

import random
people = ['Anshul', 'Saurav', 'Kabir', 'Avi']
random.shuffle(people)
people

['Kabir', 'Anshul', 'Saurav', 'Avi']

In [28]:
random.shuffle(people)
people

['Anshul', 'Kabir', 'Saurav', 'Avi']

In [29]:
# Methods, a method is the same thing as a function, except it is called on a value
# Each data type has its own set of Methods. The List data type, for example has several useful methods 
# for finding, adding, removing and otherwise manipulating values in a list.

# Finding a value in the list with the index() Method.
# list values have an index() method that can be passed a value, 
# if that value exists in the list the index of the value is returned.
# If the value isn't in the list then Python produces a ValueError
# Example :- 

spanSix = ['hello', 'howdy', 'hi', 'hey', 'howdy']
spanSix.index('hi')

2

In [30]:
# When there is a duplication of the value in the list the index of its first appearance is returned
# Example :- 
spanSix.index('howdy')

1

In [31]:
# Adding values to list with the append() nad insert() methods
spanSix.append('cat')
spanSix

['hello', 'howdy', 'hi', 'hey', 'howdy', 'cat']

In [32]:
spanSix.insert(1, 'chicken')
spanSix

['hello', 'chicken', 'howdy', 'hi', 'hey', 'howdy', 'cat']

In [33]:
# Removing values from list with remove() Method
spanSix.remove('chicken')
spanSix

['hello', 'howdy', 'hi', 'hey', 'howdy', 'cat']

In [37]:
# If the vlue appears multiple times in a list the remove method removes only the first instance of the value
# Example :- 
spanSix.remove('howdy')
spanSix

['hello', 'hi', 'hey', 'cat']

In [35]:
# Sorting the values in the list with sort() Method
# Example :- 

spanSeven = [69, 96, 420, 240, 1.235, 1, 0.69, 0.96, 2, 3, 4, 5]
spanSeven.sort()
spanSeven

[0.69, 0.96, 1, 1.235, 2, 3, 4, 5, 69, 96, 240, 420]

In [41]:
# Reversing the Value in a list with the reverse() Method
# Example :- 

spanSix.reverse()
spanSix

['cat', 'hey', 'hi', 'hello']

In [47]:
# Example Program: Magic 8 ball with a list

import random

message = ['It is Certain',
          'It is decidently so',
           'Reply hazy try again',
           'Ask again Later',
           'Concentrate and ask again',
           'My reply in no',
           'Outlook not so good',
           'Very doutful'
          ]
print(random.choice(message))

Reply hazy try again

In [ ]:
# Sequence Data Types